// This file is the entry point for the styles
@import "reset";
@import "./variables/global";

// tailwindcss will handle the themes
@tailwind base;
@tailwind components;
@tailwind utilities;


.app {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


body, #app {
  height: 100vh;
}

.jse-menu {
  background: var(--header) !important;
}

.jse-menu > :nth-child(3){
  display: none !important;
}

.jse-menu > :nth-child(2) {
  border-right: solid 1px white !important;
}
